<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
       point="de.toem.pattern.general.cell">
    <cell
          class="de.toem.impulse.charts.birt.bar.BarChart"
          icon16="icons/cell16/8002-profile_graph.gif"
          id="chart.birt.bar"
          label="Bar Chart (Birt)">
    </cell>
    <cell
          class="de.toem.impulse.charts.birt.pie.PieChart"
          icon16="icons/cell16/8002-profile_graph.gif"
          id="chart.birt.pie"
          label="Pie Chart (Birt)">
    </cell>
    <cell
          class="de.toem.impulse.charts.birt.line.LineChart"
          icon16="icons/cell16/8002-profile_graph.gif"
          id="chart.birt.line"
          label="Line Chart (Birt)">
    </cell>    
    <cell
          class="de.toem.impulse.charts.birt.radar.RadarChart"
          icon16="icons/cell16/8002-profile_graph.gif"
          id="chart.birt.radar"
          label="Radar Chart (Birt)">
    </cell>      
  </extension>
 <extension
       point="de.toem.pattern.general.instancer">
    <instancer
          class="de.toem.impulse.charts.birt.bar.BarChartInstancer"
          id="de.toem.impulse.charts.birt.bar"
          label="Bar Chart (Birt)">
    </instancer>
    <instancer
          class="de.toem.impulse.charts.birt.pie.PieChartInstancer"
          id="de.toem.impulse.charts.birt.pie"
          label="Pie Chart (Birt)">
    </instancer>
    <instancer
          class="de.toem.impulse.charts.birt.line.LineChartInstancer"
          id="de.toem.impulse.charts.birt.line"
          label="Line Chart (Birt)">
    </instancer>
    <instancer
          class="de.toem.impulse.charts.birt.radar.RadarChartInstancer"
          id="de.toem.impulse.charts.birt.radar"
          label="Radar Chart (Birt)">
    </instancer>
 </extension>
 <extension
       point="de.toem.eclipse.toolkits.editor.dialog">
    <dialog
          cellTypes="chart.birt.bar"
          class="de.toem.impulse.charts.birt.BirtChartDialog"
          id="de.toem.impulse.dialog.charts.birt.bar"
          label="Chart (Birt) Configuration">
    </dialog>
    <dialog
          cellTypes="chart.birt.pie"
          class="de.toem.impulse.charts.birt.BirtChartDialog"
          id="de.toem.impulse.dialog.charts.birt.pie"
          label="Chart (Birt) Configuration">
    </dialog>
    <dialog
          cellTypes="chart.birt.line"
          class="de.toem.impulse.charts.birt.BirtChartDialog"
          id="de.toem.impulse.dialog.charts.birt.line"
          label="Chart (Birt) Configuration">
    </dialog>
    <dialog
          cellTypes="chart.birt.radar"
          class="de.toem.impulse.charts.birt.BirtChartDialog"
          id="de.toem.impulse.dialog.charts.birt.radar"
          label="Chart (Birt) Configuration">
    </dialog>    
  </extension>
 <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="help/help.xml"
            plugin="de.toem.impulse.charts.birt">
      </contexts>
   </extension>
</plugin>
