<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
         point="org.eclipse.jdt.debug.breakpointListeners">
      <breakpointListener
            class="de.toem.impulse.ports.jdt.JavaBreakpointNotifier"
            id="de.toem.impulse.ports.breakpointListener"
            filter="*">
      </breakpointListener>
   </extension>
<extension
      point="de.toem.pattern.general.cell">
   <cell
         class="de.toem.impulse.extension.jdt.watchpoint.WatchpointTracer"
         description="%cell.description"
         icon="icons/objects/time_go.png"
         id="port.record.jdt.watchpoint"
         label="%cell.label">
   </cell>
</extension>
<extension
      point="de.toem.pattern.general.instancer">
   <instancer
         class="de.toem.impulse.extension.jdt.watchpoint.WatchpointTracerInstancer"
         description="%instancer.description"
         id="de.toem.impulse.instancer.port.record.jdt.watchpoint"
         group="%instancer.group"
         label="%instancer.label">
   </instancer>
</extension>
<extension
      point="de.toem.eclipse.toolkits.ui.dialog">
   <dialog
         cellTypes="port.record.jdt.watchpoint"
         class="de.toem.impulse.extension.jdt.watchpoint.WatchpointTracerDialog"
         id="de.toem.impulse.dialog.port.record.jdt.watchpoint"
         label="%dialog.label">
   </dialog>
</extension>
   <extension
         point="de.toem.pattern.general.group">
      <group
            description="%group.description"
            icon="icons/extension.png"
            id="de.toem.impulse.group.jdt"
            label="%group.label">
      </group>
   </extension>  
</plugin>
