<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
       point="de.toem.pattern.general.cell">
    <cell
          class="de.toem.impulse.extension.nebula.xy.XyChart"
          description="%cell.description"
          icon="icons/objects/chart_line.png"
          id="chart.nebula.xy"
          label="%cell.label">
    </cell>
    <cell
          class="de.toem.impulse.extension.nebula.intensity.IntensityChart"
          description="%cell.description.0"
          icon="icons/objects/rainbow.png"
          id="chart.nebula.intensity"
          label="%cell.label.0">
    </cell>    
    <cell
          class="de.toem.impulse.extension.nebula.eye.EyeChart"
          description="%cell.description.1"
          icon="icons/objects/eye.png"
          id="chart.nebula.eye"
          label="%cell.label.1">
    </cell>    
  </extension>
 <extension
       point="de.toem.pattern.general.instancer">
    <instancer
          class="de.toem.impulse.extension.nebula.xy.XyChartInstancer"
          description="%instancer.description"
          group="de.toem.impulse.group.nebula"
          id="de.toem.impulse.charts.nebula.xy"
          label="%instancer.label">
    </instancer>
    <instancer
          class="de.toem.impulse.extension.nebula.intensity.IntensitiyChartInstancer"
          description="%instancer.description.0"
          group="de.toem.impulse.group.nebula"
          id="de.toem.impulse.charts.nebula.intensity"
          label="%instancer.label.0">
    </instancer>
    <instancer
          class="de.toem.impulse.extension.nebula.eye.EyeChartInstancer"
          description="%instancer.description.1"
          group="de.toem.impulse.group.nebula"
          id="de.toem.impulse.charts.nebula.eye"
          label="%instancer.label.1">
    </instancer>    
 </extension>
 <extension
       point="de.toem.eclipse.toolkits.ui.dialog">
    <dialog
          cellTypes="chart.nebula.xy"
          class="de.toem.impulse.extension.nebula.xy.XYChartDialog"
          id="de.toem.impulse.dialog.charts.nebula.xy"
          label="%dialog.label">
    </dialog>
    <dialog
          cellTypes="chart.nebula.intensity"
          class="de.toem.impulse.extension.nebula.intensity.IntensityChartDialog"
          id="de.toem.impulse.dialog.charts.nebula.intensity"
          label="%dialog.label.0">
    </dialog>
    <dialog
          cellTypes="chart.nebula.eye"
          class="de.toem.impulse.extension.nebula.eye.EyeChartDialog"
          id="de.toem.impulse.dialog.charts.nebula.eye"
          label="%dialog.label.1">
    </dialog>    
  </extension>
 <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="help/help.xml"
            plugin="de.toem.impulse.extension.nebula">
      </contexts>
   </extension>
 <extension
       point="de.toem.pattern.general.group">
    <group
          description="%group.description"
          icon="icons/extension.png"
          id="de.toem.impulse.group.nebula"
          label="%group.label">
    </group>
 </extension>
</plugin>
