<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
       point="de.toem.pattern.general.cell">
    <cell
          class="de.toem.impulse.extension.birt.bar.BarChart"
          helpUrl="https://toem.de/index.php/resources/all-documents/162-bar-chart"
          icon="icons/objects/chart_bar.png"
          id="chart.birt.bar"
          label="%cell.label">
    </cell>
    <cell
          class="de.toem.impulse.extension.birt.pie.PieChart"
          helpUrl="https://toem.de/index.php/resources/all-documents/226-pie-chart"
          icon="icons/objects/chart_pie.png"
          id="chart.birt.pie"
          label="%cell.label.0">
    </cell>
    <cell
          class="de.toem.impulse.extension.birt.line.LineChart"
          helpUrl="https://toem.de/index.php/resources/all-documents/227-line-chart"
          icon="icons/objects/chart_curve.png"
          id="chart.birt.line"
          label="%cell.label.1">
    </cell>    
    <cell
          class="de.toem.impulse.extension.birt.radar.RadarChart"
          helpUrl="https://toem.de/index.php/resources/all-documents/228-radar-chart"
          icon="icons/objects/radar.png"
          id="chart.birt.radar"
          label="%cell.label.2">
    </cell>   
  </extension>
 <extension
       point="de.toem.pattern.general.instancer">
    <instancer
          class="de.toem.impulse.extension.birt.bar.BarChartInstancer"
          description="%instancer.description"
          group="de.toem.impulse.group.birt"
          id="de.toem.impulse.charts.birt.bar"
          label="%instancer.label">
    </instancer>
    <instancer
          class="de.toem.impulse.extension.birt.pie.PieChartInstancer"
          description="%instancer.description.0"
          group="de.toem.impulse.group.birt"
          id="de.toem.impulse.charts.birt.pie"
          label="%instancer.label.0">
    </instancer>
    <instancer
          class="de.toem.impulse.extension.birt.line.LineChartInstancer"
          description="%instancer.description.1"
          group="de.toem.impulse.group.birt"
          id="de.toem.impulse.charts.birt.line"
          label="%instancer.label.1">
    </instancer>
    <instancer
          class="de.toem.impulse.extension.birt.radar.RadarChartInstancer"
          description="%instancer.description.2"
          group="de.toem.impulse.group.birt"
          id="de.toem.impulse.charts.birt.radar"
          label="%instancer.label.2">
    </instancer>
 </extension>
 <extension
       point="de.toem.eclipse.toolkits.ui.dialog">
    <dialog
          cellTypes="chart.birt.bar"
          class="de.toem.impulse.extension.birt.BirtChartDialog"
          id="de.toem.impulse.dialog.charts.birt.bar"
          label="%dialog.label">
    </dialog>
    <dialog
          cellTypes="chart.birt.pie"
          class="de.toem.impulse.extension.birt.BirtChartDialog"
          id="de.toem.impulse.dialog.charts.birt.pie"
          label="%dialog.label.0">
    </dialog>
    <dialog
          cellTypes="chart.birt.line"
          class="de.toem.impulse.extension.birt.BirtChartDialog"
          id="de.toem.impulse.dialog.charts.birt.line"
          label="%dialog.label.1">
    </dialog>
    <dialog
          cellTypes="chart.birt.radar"
          class="de.toem.impulse.extension.birt.BirtChartDialog"
          id="de.toem.impulse.dialog.charts.birt.radar"
          label="%dialog.label.2">
    </dialog>    
  </extension>
 <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="help/help.xml"
            plugin="de.toem.impulse.charts.birt">
      </contexts>
   </extension>
 <extension
       point="de.toem.pattern.general.group">
    <group
          description="%group.description"
          icon="icons/extension.png"
          id="de.toem.impulse.group.birt"
          label="%group.label">
    </group>
 </extension>
</plugin>
