<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.toem.pattern.general.serializer">
      <serializer
            contentType="de.toem.impulse.contentType.example.float"
            description="%serializer.description"
            enabled="false"
            id="de.toem.impulse.serializer.example.float"
            label="%serializer.label"
            group="%serializer.group"
            reader="de.toem.impulse.extension.toolkit.serializer.examples.ExampleFloatReader">
      </serializer>
      <serializer
            contentType="de.toem.impulse.contentType.example.logic"
            description="%serializer.description.0"
            enabled="false"
            id="de.toem.impulse.serializer.example.logic"
            label="%serializer.label.0"
            group="%serializer.group.0"
            reader="de.toem.impulse.extension.toolkit.serializer.examples.ExampleLogicReader">
      </serializer>
      <serializer
            contentType="de.toem.impulse.contentType.example.integer"
            description="%serializer.description.1"
            enabled="false"
            id="de.toem.impulse.serializer.example.integer"
            label="%serializer.label.1"
            group="%serializer.group.1"
            reader="de.toem.impulse.extension.toolkit.serializer.examples.ExampleIntegerReader">
      </serializer>
      <serializer
            contentType="de.toem.impulse.contentType.example.struct"
            description="%serializer.description.2"
            enabled="false"
            id="de.toem.impulse.serializer.example.struct"
            label="%serializer.label.2"
            group="%serializer.group.2"
            reader="de.toem.impulse.extension.toolkit.serializer.examples.ExampleStructReader">
      </serializer>
      <serializer
            contentType="de.toem.impulse.contentType.example.binary"
            description="%serializer.description.3"
            enabled="false"
            id="de.toem.impulse.serializer.example.binary"
            label="%serializer.label.3"
            group="%serializer.group.3"
            reader="de.toem.impulse.extension.toolkit.serializer.examples.ExampleBinaryReader">
      </serializer>
      <serializer
            contentType="de.toem.impulse.contentType.example.event"
            description="%serializer.description.4"
            enabled="false"
            id="de.toem.impulse.serializer.example.event"
            label="%serializer.label.4"
            group="%serializer.group.4"
            reader="de.toem.impulse.extension.toolkit.serializer.examples.ExampleEventReader">
      </serializer>
      <serializer
            contentType="de.toem.impulse.contentType.example.gant"
            description="%serializer.description.5"
            enabled="false"
            id="de.toem.impulse.serializer.example.gant"
            label="%serializer.label.5"
            group="%serializer.group.5"
            reader="de.toem.impulse.extension.toolkit.serializer.examples.ExampleGanttReader">
      </serializer>
      <serializer
            contentType="de.toem.impulse.contentType.example.flux"
            description="%serializer.description.6"
            enabled="false"
            id="de.toem.impulse.serializer.example.flux"
            label="%serializer.label.6"
            group="%serializer.group.6"
            reader="de.toem.impulse.extension.toolkit.serializer.examples.flux.ExampleFluxConverterReader">
      </serializer>
      <serializer
            contentType="de.toem.impulse.contentType.example.fluxdb"
            description="%serializer.description.7"
            enabled="false"
            id="de.toem.impulse.serializer.example.fluxdb"
            label="%serializer.label.7"
            group="%serializer.group.7"
            reader="de.toem.impulse.extension.toolkit.serializer.examples.flux.ExampleFluxDatabaseReader">
      </serializer>               
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="de.toem.impulse.contentType.record"
            file-names="toem.float.example"
            id="de.toem.impulse.contentType.example.float"
            name="%content-type.name"
            priority="normal">
         <describer
               class="de.toem.impulse.serializer.RecordContentDescriber"
               plugin="de.toem.impulse.base">
            <parameter
                  name="contentType"
                  value="de.toem.impulse.contentType.example.float">
            </parameter>
         </describer>
      </content-type>
      <content-type
            base-type="de.toem.impulse.contentType.record"
            file-names="toem.integer.example"
            id="de.toem.impulse.contentType.example.integer"
            name="%content-type.name.0"
            priority="normal">
         <describer
               class="de.toem.impulse.serializer.RecordContentDescriber"
               plugin="de.toem.impulse.base">
            <parameter
                  name="contentType"
                  value="de.toem.impulse.contentType.example.integer">
            </parameter>
         </describer>
      </content-type>
      <content-type
            base-type="de.toem.impulse.contentType.record"
            file-names="toem.logic.example"
            id="de.toem.impulse.contentType.example.logic"
            name="%content-type.name.1"
            priority="normal">
         <describer
               class="de.toem.impulse.serializer.RecordContentDescriber"
               plugin="de.toem.impulse.base">
            <parameter
                  name="contentType"
                  value="de.toem.impulse.contentType.example.logic">
            </parameter>
         </describer>
      </content-type>
      <content-type
            base-type="de.toem.impulse.contentType.record"
            file-names="toem.struct.example"
            id="de.toem.impulse.contentType.example.struct"
            name="%content-type.name.2"
            priority="normal">
         <describer
               class="de.toem.impulse.serializer.RecordContentDescriber"
               plugin="de.toem.impulse.base">
            <parameter
                  name="contentType"
                  value="de.toem.impulse.contentType.example.struct">
            </parameter>
         </describer>
      </content-type>
      <content-type
            base-type="de.toem.impulse.contentType.record"
            file-names="toem.binary.example"
            id="de.toem.impulse.contentType.example.binary"
            name="%content-type.name.3"
            priority="normal">
         <describer
               class="de.toem.impulse.serializer.RecordContentDescriber"
               plugin="de.toem.impulse.base">
            <parameter
                  name="contentType"
                  value="de.toem.impulse.contentType.example.binary">
            </parameter>
         </describer>
      </content-type>
      <content-type
            base-type="de.toem.impulse.contentType.record"
            file-names="toem.event.example"
            id="de.toem.impulse.contentType.example.event"
            name="%content-type.name.4"
            priority="normal">
         <describer
               class="de.toem.impulse.serializer.RecordContentDescriber"
               plugin="de.toem.impulse.base">
            <parameter
                  name="contentType"
                  value="de.toem.impulse.contentType.example.event">
            </parameter>
         </describer>
      </content-type>
      <content-type
            base-type="de.toem.impulse.contentType.record"
            file-names="toem.gant.example"
            id="de.toem.impulse.contentType.example.gant"
            name="%content-type.name.5"
            priority="normal">
         <describer
               class="de.toem.impulse.serializer.RecordContentDescriber"
               plugin="de.toem.impulse.base">
            <parameter
                  name="contentType"
                  value="de.toem.impulse.contentType.example.gant">
            </parameter>
         </describer>
      </content-type>   
      <content-type
            base-type="de.toem.impulse.contentType.record"
            file-names="toem.flux.example"
            id="de.toem.impulse.contentType.example.flux"
            name="%content-type.name.6"
            priority="normal">
         <describer
               class="de.toem.impulse.serializer.RecordContentDescriber"
               plugin="de.toem.impulse.base">
            <parameter
                  name="contentType"
                  value="de.toem.impulse.contentType.example.flux">
            </parameter>
         </describer>
      </content-type>     
      <content-type
            base-type="de.toem.impulse.contentType.record"
            file-names="toem.fluxdb.example"
            id="de.toem.impulse.contentType.example.fluxdb"
            name="%content-type.name.7"
            priority="normal">
         <describer
               class="de.toem.impulse.serializer.RecordContentDescriber"
               plugin="de.toem.impulse.base">
            <parameter
                  name="contentType"
                  value="de.toem.impulse.contentType.example.fluxdb">
            </parameter>
         </describer>
      </content-type>             
   </extension>
   <extension
         point="de.toem.pattern.general.cell">
      <cell
            class="de.toem.impulse.extension.toolkit.ports.analog.ExampleAnalogAdapter"
            description="%cell.description"
            icon="icons/objects/chart_curve.png"
            id="port.record.example"
            label="%cell.label">
      </cell>
      <cell
            class="de.toem.impulse.extension.toolkit.ports.highspeed.ExampleHighspeedAdapter"
            description="%cell.description.0"
            icon="icons/objects/chart_curve.png"
            id="port.record.example.highspeed"
            label="%cell.label.0">
      </cell>
      <cell
            class="de.toem.impulse.extension.toolkit.ports.scope.ExampleScopeAdapter"
            description="%cell.description.1"
            icon="icons/objects/chart_curve.png"
            id="port.record.example.scope"
            label="%cell.label.1">
      </cell>
      <cell
            class="de.toem.impulse.extension.toolkit.charts.ExampleSimpleChart"
            description="%cell.description.2"
            icon="icons/objects/chart_pie.png"
            id="chart.example.simple"
            label="%cell.label.2">
      </cell>
      <cell
            class="de.toem.impulse.extension.toolkit.ports.flux.ExampleFluxAdapter"
            description="%cell.description.3"
            icon="icons/objects/chart_curve.png"
            id="port.record.example.flux"
            label="%cell.label.3">
      </cell>
      <cell
            class="de.toem.impulse.extension.toolkit.ports.flux.ExampleFluxControlAdapter"
            description="%cell.description.4"
            icon="icons/objects/chart_curve.png"
            id="port.record.example.flux.control"
            label="%cell.label.4">
      </cell>
   </extension>
   <extension
         point="de.toem.pattern.general.instancer">
      <instancer
            class="de.toem.impulse.extension.toolkit.ports.analog.ExampleAnalogAdapterInstancer"
            description="%instancer.description"
            id="de.toem.impulse.instancer.port.record.example"
            group="%instancer.group"
            label="%instancer.label">
      </instancer>
      <instancer
            class="de.toem.impulse.extension.toolkit.ports.highspeed.ExampleHighspeedAdapterInstancer"
            description="%instancer.description.0"
            id="de.toem.impulse.instancer.port.record.example.highspeed"
            group="%instancer.group.0"
            label="%instancer.label.0">
      </instancer>
      <instancer
            class="de.toem.impulse.extension.toolkit.ports.scope.ExampleScopeAdapterInstancer"
            description="%instancer.description.1"
            id="de.toem.impulse.instancer.port.record.example.scope"
            group="%instancer.group.1"
            label="%instancer.label.1">
      </instancer>
      <instancer
            class="de.toem.impulse.extension.toolkit.charts.ExampleSimpleChartInstancer"
            description="%instancer.description.2"
            group="%instancer.group.2"
            id="de.toem.impulse.instancer.chart.example.simple"
            label="%instancer.label.2">
      </instancer>
      <instancer
            class="de.toem.impulse.extension.toolkit.ports.flux.ExampleFluxInstancer"
            description="%instancer.description.3"
            id="de.toem.impulse.instancer.port.record.example.flux"
            group="%instancer.group.3"
            label="%instancer.label.3">
      </instancer>
      <instancer
            class="de.toem.impulse.extension.toolkit.ports.flux.ExampleFluxControlInstancer"
            description="%instancer.description.4"
            id="de.toem.impulse.instancer.port.record.example.flux.control"
            group="%instancer.group.4"
            label="%instancer.label.4">
      </instancer>
   </extension>
   <extension
         point="de.toem.eclipse.toolkits.ui.dialog">
      <dialog
            cellTypes="port.record.example"
            class="de.toem.impulse.extension.toolkit.ports.analog.ExampleAnalogAdapterDialog"
            id="de.toem.impulse.dialog.port.record.example"
            label="%dialog.label">
      </dialog>
      <dialog
            cellTypes="port.record.example.highspeed"
            class="de.toem.impulse.extension.toolkit.ports.highspeed.ExampleHighspeedAdapterDialog"
            id="de.toem.impulse.dialog.port.record.example.highspeed"
            label="%dialog.label.0">
      </dialog>
      <dialog
            cellTypes="port.record.example.scope"
            class="de.toem.impulse.extension.toolkit.ports.scope.ExampleScopeAdapterDialog"
            id="de.toem.impulse.dialog.port.record.example.scope"
            label="%dialog.label.1">
      </dialog>
   </extension>
   <extension
         point="de.toem.impulse.base.samplesProducer">
      <samplesProducer
            class="de.toem.impulse.extension.toolkit.producer.ExampleFloatDiff"
            description="%samplesProducer.description"
            descriptor="Default"
            group="%samplesProducer.group"
            id="de.toem.impulse.samplesProducer.example.floatDiff.9ea2d6dc"
            label="%samplesProducer.label"
            multipleInputs="true"
            process="Discrete"
            requireDomain="false"
            requireParameters="true"
            requireScript="false"
            type="Float">
      </samplesProducer>
   </extension>
   <extension
         point="de.toem.pattern.general.disclosure">
      <disclosure
            cellType="record.signal"
            class="de.toem.impulse.extension.toolkit.disclosure.ExampleShortestEventDisclosure"
            description="%disclosure.description"
            id="de.toem.impulse.samplesProducer.example.floatDiff.dbbe92a8"
            label="%disclosure.label">
      </disclosure>
   </extension>
	<extension
      point="org.eclipse.pde.ui.pluginContent">
      <wizard
            name="impulse reader"
            icon="icons/cell16/multiple.gif"
            class="de.toem.impulse.serializer.wizard.NewReaderWizard"
            id="de.toem.impulse.extension.wizard.reader">
         <description>
This wizards helps you to create a new reader.
         </description>
      </wizard>
	</extension>
	   <extension
         point="org.eclipse.pde.ui.templates">
      <template
            contributingId="de.toem.pattern.general.serializer"
            name="impulse reader"
            class="de.toem.impulse.serializer.wizard.NewReaderTemplate"
            id="de.toem.impulse.extension.template.reader">
      </template>
	</extension>
	<extension
         point="org.eclipse.pde.ui.newExtension">
      <category
            name="impulse extensions"
            id="de.toem.impulse.extension.wizard">
      </category>
      <wizard
            name="impulse reader"
            template="de.toem.impulse.extension.template.reader"
            icon="icons/cell16/multiple.gif"
            category="de.toem.impulse.extension.wizard"
            id="de.toem.impulse.extension.new.reader">
         <description>
This wizards helps you to create a new reader.
         </description>
      </wizard>      
	</extension>
 <extension
       point="de.toem.pattern.general.group">
    <group
          description="%group.description"
          icon="icons/extension.png"
          id="de.toem.impulse.group.examples"
          label="%group.label">
    </group>
 </extension>
</plugin>
