<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.toem.pattern.general.cell">
      <cell
            class="de.toem.impulse.extension.yakindu.chart.StateChart"
            description="%cell.description"
            icon="icons/objects/yakindu.png"
            id="chart.yakindu.statechart"
            label="%cell.label">
      </cell>
      <cell
            class="de.toem.impulse.extension.yakindu.chart.StateChartDiagram"
            description="%cell.description.0"
            icon="icons/objects/yakindu.png"
            id="chart.yakindu.statechart.diagram"
            label="%cell.label.0">
      </cell>
      <cell
            class="de.toem.impulse.extension.yakindu.chart.StateChartState"
            description="%cell.description.1"
            icon="icons/objects/yakindu.png"
            id="chart.yakindu.statechart.state"
            label="%cell.label.1">
      </cell>
   </extension>
   <extension
         point="de.toem.pattern.general.instancer">
      <instancer
            class="de.toem.impulse.extension.yakindu.chart.StateChartInstancer"
            description="%instancer.description"
            id="de.toem.impulse.instancer.yakindu.statechart"
            group="de.toem.impulse.group.yakindu"
            label="%instancer.label">
      </instancer>
   </extension>

   <extension
         point="de.toem.impulse.base.samplesProducer">
      <samplesProducer
            class="de.toem.impulse.extension.yakindu.producer.StateChartProducer"
            description="%samplesProducer.description"
            group="de.toem.impulse.group.yakindu"
            icon="icons/objects/yakindu.png"
            id="de.toem.impulse.production.yakindu.statechart"
            label="%samplesProducer.label"
            helpUrl="https://toem.de/index.php/resources/all-documents/231-yakindu-statechart-simulator"
            language="JavaScript"
            showMultipleInputs="true"
            showParameters="true">
      </samplesProducer>
  </extension>
  
   <extension
       point="de.toem.eclipse.toolkits.ui.dialog">
    <dialog
          cellTypes="chart.yakindu.statechart"
          class="de.toem.impulse.extension.yakindu.chart.StateChartDialog"
          description="%dialog.description"
          id="de.toem.impulse.dialog.yakindu.statechart"
          label="%dialog.label">
    </dialog>
   </extension>
   <extension
         point="de.toem.pattern.general.group">
      <group
            description="%group.description"
            icon="icons/extension.png"
            id="de.toem.impulse.group.yakindu"
            label="%group.label">
      </group>
   </extension>
   <extension
         point="de.toem.pattern.general.serializer">
      <serializer
            contentType="de.toem.impulse.contentType.yet"
            defaultConfiguration="true"
            description="%serializer.description.yet"
            id="de.toem.impulse.serializer.yet"
            label="%serializer.label.yet"
            group="de.toem.impulse.group.yakindu" 
            reader="de.toem.impulse.extension.yakindu.yet.YetReader">
      </serializer>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="de.toem.impulse.contentType.record"
            file-extensions="yet"
            id="de.toem.impulse.contentType.yet"
            name="%content-type.name.yet"
            priority="normal">
         <describer
               class="de.toem.impulse.serializer.RecordContentDescriber"
               plugin="de.toem.impulse.base">
            <parameter
                  name="contentType"
                  value="de.toem.impulse.contentType.yet">
            </parameter>
         </describer>
      </content-type>
   </extension> 
</plugin>
