<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.toem.pattern.general.serializer">
      <serializer
            contentType="de.toem.impulse.contentType.example.float"
            description="Example Float Serializer"
            enabled="false"
            id="de.toem.impulse.serializer.example.float"
            label="Example Float Reader"
            reader="de.toem.impulse.serializer.examples.ExampleFloatReader">
      </serializer>
      <serializer
            contentType="de.toem.impulse.contentType.example.logic"
            description="Example Logic Serializer"
            enabled="false"
            id="de.toem.impulse.serializer.example.logic"
            label="Example Logic Reader"
            reader="de.toem.impulse.serializer.examples.ExampleLogicReader">
      </serializer>
      <serializer
            contentType="de.toem.impulse.contentType.example.integer"
            description="Example Integer Serializer"
            enabled="false"
            id="de.toem.impulse.serializer.example.integer"
            label="Example Integer Reader"
            reader="de.toem.impulse.serializer.examples.ExampleIntegerReader">
      </serializer>
      <serializer
            contentType="de.toem.impulse.contentType.example.struct"
            description="Example Struct Serializer"
            enabled="false"
            id="de.toem.impulse.serializer.example.struct"
            label="Example Struct Reader"
            reader="de.toem.impulse.serializer.examples.ExampleStructReader">
      </serializer>
      <serializer
            contentType="de.toem.impulse.contentType.example.binary"
            description="Example Binary Serializer"
            enabled="false"
            id="de.toem.impulse.serializer.example.binary"
            label="Example Binary Reader"
            reader="de.toem.impulse.serializer.examples.ExampleBinaryReader">
      </serializer>
      <serializer
            contentType="de.toem.impulse.contentType.example.event"
            description="Example Event Serializer"
            enabled="false"
            id="de.toem.impulse.serializer.example.event"
            label="Example Event Reader"
            reader="de.toem.impulse.serializer.examples.ExampleEventReader">
      </serializer>
      <serializer
            contentType="de.toem.impulse.contentType.example.gant"
            description="Example Gant Serializer"
            enabled="false"
            id="de.toem.impulse.serializer.example.gant"
            label="Example Gant Reader"
            reader="de.toem.impulse.serializer.examples.ExampleGantReader">
      </serializer>
      <serializer
            contentType="de.toem.impulse.contentType.example.flux"
            description="Example Flux Converter Serializer"
            enabled="false"
            id="de.toem.impulse.serializer.example.flux"
            label="Example Flux Converter Reader"
            reader="de.toem.impulse.serializer.examples.flux.ExampleFluxConverterReader">
      </serializer>
      <serializer
            contentType="de.toem.impulse.contentType.example.fluxdb"
            description="Example Flux Database Serializer"
            enabled="false"
            id="de.toem.impulse.serializer.example.fluxdb"
            label="Example Flux Database Reader"
            reader="de.toem.impulse.serializer.examples.flux.ExampleFluxDatabaseReader">
      </serializer>               
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="de.toem.impulse.contentType.record"
            file-names="toem.float.example"
            id="de.toem.impulse.contentType.example.float"
            name="Example Float Record"
            priority="normal">
         <describer
               class="de.toem.impulse.serializer.RecordContentDescriber"
               plugin="de.toem.impulse.base">
            <parameter
                  name="contentType"
                  value="de.toem.impulse.contentType.example.float">
            </parameter>
         </describer>
      </content-type>
      <content-type
            base-type="de.toem.impulse.contentType.record"
            file-names="toem.integer.example"
            id="de.toem.impulse.contentType.example.integer"
            name="Example Integer Record"
            priority="normal">
         <describer
               class="de.toem.impulse.serializer.RecordContentDescriber"
               plugin="de.toem.impulse.base">
            <parameter
                  name="contentType"
                  value="de.toem.impulse.contentType.example.integer">
            </parameter>
         </describer>
      </content-type>
      <content-type
            base-type="de.toem.impulse.contentType.record"
            file-names="toem.logic.example"
            id="de.toem.impulse.contentType.example.logic"
            name="Example Logic Record"
            priority="normal">
         <describer
               class="de.toem.impulse.serializer.RecordContentDescriber"
               plugin="de.toem.impulse.base">
            <parameter
                  name="contentType"
                  value="de.toem.impulse.contentType.example.logic">
            </parameter>
         </describer>
      </content-type>
      <content-type
            base-type="de.toem.impulse.contentType.record"
            file-names="toem.struct.example"
            id="de.toem.impulse.contentType.example.struct"
            name="Example Struct Record"
            priority="normal">
         <describer
               class="de.toem.impulse.serializer.RecordContentDescriber"
               plugin="de.toem.impulse.base">
            <parameter
                  name="contentType"
                  value="de.toem.impulse.contentType.example.struct">
            </parameter>
         </describer>
      </content-type>
      <content-type
            base-type="de.toem.impulse.contentType.record"
            file-names="toem.binary.example"
            id="de.toem.impulse.contentType.example.binary"
            name="Example Binary Record"
            priority="normal">
         <describer
               class="de.toem.impulse.serializer.RecordContentDescriber"
               plugin="de.toem.impulse.base">
            <parameter
                  name="contentType"
                  value="de.toem.impulse.contentType.example.binary">
            </parameter>
         </describer>
      </content-type>
      <content-type
            base-type="de.toem.impulse.contentType.record"
            file-names="toem.event.example"
            id="de.toem.impulse.contentType.example.event"
            name="Example Event Record"
            priority="normal">
         <describer
               class="de.toem.impulse.serializer.RecordContentDescriber"
               plugin="de.toem.impulse.base">
            <parameter
                  name="contentType"
                  value="de.toem.impulse.contentType.example.event">
            </parameter>
         </describer>
      </content-type>
      <content-type
            base-type="de.toem.impulse.contentType.record"
            file-names="toem.gant.example"
            id="de.toem.impulse.contentType.example.gant"
            name="Example Gant Record"
            priority="normal">
         <describer
               class="de.toem.impulse.serializer.RecordContentDescriber"
               plugin="de.toem.impulse.base">
            <parameter
                  name="contentType"
                  value="de.toem.impulse.contentType.example.gant">
            </parameter>
         </describer>
      </content-type>   
      <content-type
            base-type="de.toem.impulse.contentType.record"
            file-names="toem.flux.example"
            id="de.toem.impulse.contentType.example.flux"
            name="Example Flux Converter Record"
            priority="normal">
         <describer
               class="de.toem.impulse.serializer.RecordContentDescriber"
               plugin="de.toem.impulse.base">
            <parameter
                  name="contentType"
                  value="de.toem.impulse.contentType.example.flux">
            </parameter>
         </describer>
      </content-type>     
      <content-type
            base-type="de.toem.impulse.contentType.record"
            file-names="toem.fluxdb.example"
            id="de.toem.impulse.contentType.example.fluxdb"
            name="Example Flux Database Record"
            priority="normal">
         <describer
               class="de.toem.impulse.serializer.RecordContentDescriber"
               plugin="de.toem.impulse.base">
            <parameter
                  name="contentType"
                  value="de.toem.impulse.contentType.example.fluxdb">
            </parameter>
         </describer>
      </content-type>             
   </extension>
   <extension
         point="de.toem.pattern.general.cell">
      <cell
            class="de.toem.impulse.ports.examples.analog.ExampleAnalogAdapter"
            icon16="icons/cell16/chart_curve.png"
            id="port.record.example"
            label="Example AD">
      </cell>
      <cell
            class="de.toem.impulse.ports.examples.highspeed.ExampleHighspeedAdapter"
            icon16="icons/cell16/chart_curve.png"
            id="port.record.example.highspeed"
            label="Example Highspeed AD">
      </cell>
      <cell
            class="de.toem.impulse.ports.examples.scope.ExampleScopeAdapter"
            icon16="icons/cell16/chart_curve.png"
            id="port.record.example.scope"
            label="Example Scope">
      </cell>
      <cell
            class="de.toem.impulse.charts.examples.ExampleSimpleChart"
            icon16="icons/cell16/8002-profile_graph.gif"
            id="chart.example.simple"
            label="Example Chart - Simple">
      </cell>
      <cell
            class="de.toem.impulse.ports.examples.flux.ExampleFluxAdapter"
            icon16="icons/cell16/chart_curve.png"
            id="port.record.example.flux"
            label="Example Flux">
      </cell>
      <cell
            class="de.toem.impulse.ports.examples.flux.ExampleFluxControlAdapter"
            icon16="icons/cell16/chart_curve.png"
            id="port.record.example.flux.control"
            label="Example Flux Control">
      </cell>
   </extension>
   <extension
         point="de.toem.pattern.general.instancer">
      <instancer
            class="de.toem.impulse.ports.examples.analog.ExampleAnalogAdapterInstancer"
            description="Add new  Example AD"
            id="de.toem.impulse.instancer.port.record.example"
            label="Example AD ">
      </instancer>
      <instancer
            class="de.toem.impulse.ports.examples.highspeed.ExampleHighspeedAdapterInstancer"
            description="Add new  Example Highspeed AD"
            id="de.toem.impulse.instancer.port.record.example.highspeed"
            label="Example Highspeed AD ">
      </instancer>
      <instancer
            class="de.toem.impulse.ports.examples.scope.ExampleScopeAdapterInstancer"
            description="Add new  Example AD Scope"
            id="de.toem.impulse.instancer.port.record.example.scope"
            label="Example  AD Scope ">
      </instancer>
      <instancer
            class="de.toem.impulse.charts.examples.ExampleSimpleChartInstancer"
            id="de.toem.impulse.instancer.chart.example.simple"
            label="Example Chart - Simple">
      </instancer>
      <instancer
            class="de.toem.impulse.ports.examples.flux.ExampleFluxInstancer"
            description="Add new  Example Flux"
            id="de.toem.impulse.instancer.port.record.example.flux"
            label="Example Flux ">
      </instancer>
      <instancer
            class="de.toem.impulse.ports.examples.flux.ExampleFluxControlInstancer"
            description="Add new  Example Flux Control"
            id="de.toem.impulse.instancer.port.record.example.flux.control"
            label="Example Flux Control">
      </instancer>
   </extension>
   <extension
         point="de.toem.eclipse.toolkits.editor.dialog">
      <dialog
            cellTypes="port.record.example"
            class="de.toem.impulse.ports.examples.analog.ExampleAnalogAdapterDialog"
            id="de.toem.impulse.dialog.port.record.example"
            label="Example AD">
      </dialog>
      <dialog
            cellTypes="port.record.example.highspeed"
            class="de.toem.impulse.ports.examples.highspeed.ExampleHighspeedAdapterDialog"
            id="de.toem.impulse.dialog.port.record.example.highspeed"
            label="Example Highspeed AD">
      </dialog>
      <dialog
            cellTypes="port.record.example.scope"
            class="de.toem.impulse.ports.examples.scope.ExampleScopeAdapterDialog"
            id="de.toem.impulse.dialog.port.record.example.scope"
            label="Example AD Scope">
      </dialog>
   </extension>
   <extension
         point="de.toem.impulse.base.samplesProducer">
      <samplesProducer
            class="de.toem.impulse.producer.examples.ExampleFloatDiff"
            description="Example Float Diff"
            descriptor="Default"
            id="de.toem.impulse.samplesProducer.example.floatDiff.9ea2d6dc"
            label="Example Float Diff"
            multipleInputs="true"
            process="Discrete"
            requireDomain="false"
            requireParameters="true"
            requireScript="false"
            type="Float">
      </samplesProducer>
   </extension>
   <extension
         point="de.toem.pattern.general.disclosure">
      <disclosure
            cellType="record.signal"
            class="de.toem.impulse.disclosure.examples.ExampleShortestEventDisclosure"
            description="Shortest Event"
            id="de.toem.impulse.samplesProducer.example.floatDiff.dbbe92a8"
            label="Example Shortest Event ">
      </disclosure>
   </extension>

</plugin>
