<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
       point="de.toem.pattern.general.cell">
    <cell
          class="de.toem.impulse.charts.nebula.xy.XyChart"
          icon16="icons/cell16/chart_line.png"
          id="chart.nebula.xy"
          label="Xy Chart (Nebula)">
    </cell>
    <cell
          class="de.toem.impulse.charts.nebula.intensity.IntensityChart"
          icon16="icons/cell16/rainbow.png"
          id="chart.nebula.intensity"
          label="Intensity Chart (Nebula)">
    </cell>    
    <cell
          class="de.toem.impulse.charts.nebula.eye.EyeChart"
          icon16="icons/cell16/eye.png"
          id="chart.nebula.eye"
          label="Eye Chart (Nebula)">
    </cell>    
  </extension>
 <extension
       point="de.toem.pattern.general.instancer">
    <instancer
          class="de.toem.impulse.charts.nebula.xy.XyChartInstancer"
          id="de.toem.impulse.charts.nebula.xy"
          label="Xy Chart (Nebula)">
    </instancer>
    <instancer
          class="de.toem.impulse.charts.nebula.intensity.IntensitiyChartInstancer"
          id="de.toem.impulse.charts.nebula.intensity"
          label="Intensity Chart (Nebula)">
    </instancer>
    <instancer
          class="de.toem.impulse.charts.nebula.eye.EyeChartInstancer"
          id="de.toem.impulse.charts.nebula.eye"
          label="Eye Chart (Nebula)">
    </instancer>    
 </extension>
 <extension
       point="de.toem.eclipse.toolkits.editor.dialog">
    <dialog
          cellTypes="chart.nebula.xy"
          class="de.toem.impulse.charts.nebula.xy.XYChartDialog"
          id="de.toem.impulse.dialog.charts.nebula.xy"
          label="Xy Chart (Nebula) Configuration">
    </dialog>
    <dialog
          cellTypes="chart.nebula.intensity"
          class="de.toem.impulse.charts.nebula.intensity.IntensityChartDialog"
          id="de.toem.impulse.dialog.charts.nebula.intensity"
          label="Intensity Chart (Nebula) Configuration">
    </dialog>
    <dialog
          cellTypes="chart.nebula.eye"
          class="de.toem.impulse.charts.nebula.eye.EyeChartDialog"
          id="de.toem.impulse.dialog.charts.nebula.eye"
          label="Eye Chart (Nebula) Configuration">
    </dialog>    
  </extension>
 <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="help/help.xml"
            plugin="de.toem.impulse.charts.nebula">
      </contexts>
   </extension>
</plugin>
